.task-item {
  width: 100%;
  background-color: rgb(164, 164, 164);
  padding: 20px;
  cursor: pointer;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-item button {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 4px 8px;
}

.task-item button:hover {
  background-color: red;
  border-color: transparent;
  border-radius: 2px;
}

.task-item:not(first-child):not(.selected + .task-item) {
  border-top: 1px solid #000;
}

.task-item.selected {
  padding: 18px;
  border: 2px solid rgb(154, 255, 38) !important;
}