.task-item {
  width: 100%;
  background-color: #383838;
  padding: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-item-button-container {
  display: flex;
  padding-left: 10px;
}

.task-item button {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-color: transparent;
  margin: 2px;
  border-radius: 2px;
  background-color: #6d6d6d;
}

.task-item .task-item-delete-button:hover {
  background-color: red;
}

.task-item:not(first-child),
.task-item:not(.selected + .task-item) {
  border-top: 1px solid #000;
}

.task-item.complete .task-item-complete-button {
  background-color: green;
}

.task-item.selected {
  padding: 22px;
  border: 2px solid rgb(154, 255, 38) !important;
}