.react-clock{
  position: absolute;
  left: calc(50% - 30px);
  width: 60px;
  opacity: 0.5;
}

#digital-clock {
  position: absolute;
  left: calc(50% - 45px);
  width: 90px;
  text-align: center;
  font-size: 30px;
}




.react-clock,
#digital-clock {
  position: absolute;
  /* left: calc(50% - 45px);
  width: 90px;
  text-align: center; */
}