.page {
  display: flex;
  color: #FFF;
  background-color: #0F0F0F;
  height: calc(100vh - 100px);
  position: relative;
  top: 0;
}

.page > button {
  position: relative;
  align-self: center;
  width: 60px;
  left: calc(50% - (60px / 2));
  padding: 4px 0;
}

h2 {
  margin-bottom: 20px;
}

#section-one {
  resize: horizontal;
  background-color: #0F0F0F;
  /* border-right: 1px solid rgb(30, 30, 30); */
  order: 1;
}

#section-two {
  background-color: #131313;
  order: 2;
}

.section {
  overflow: auto;
  width: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  flex: 1 1 auto;
}

#task-list {
  overflow: auto;
}

#notes-header {
  position: relative;
}

#notes-subheading {
  padding-bottom: 30px;
}

#notes-subheading,
#notes-unselected-text {
  padding-top: 5px;
}

#notes-subheading,
#notes-unselected-text,
#notes-close-icon {
  color: #A4A4A4;
}

#notes-close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}